body
{
	background-color: #000000;
}

#title
{
	font-family: custom-font;
	color: #ffffff; 
	text-align: center;
	font-size: 50px
}

/*#loginName
{
	width: 20%;
	border-color: #ffffff;
	border-style: ridge;
}*/

input[type="text"], input[type="password"]
{
	border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: sans-serif;
}

@font-face
{
	font-family: custom-font;
	src: url(feedingamoment.ttf);
}